.profile-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.profile-avatar-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space-4x);
}

.profile-avatar-transparent {
	border-radius: 50%;
	padding: 0;
	width: 100%;
}
.profile-box {
	background-color: var(--tg-second);
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.city-box {
	width: 100%;
	height: 100%;
	background-color: var(--tg-bg);
}
.city {
	border-bottom: 1px solid #f5f5f5;
	margin: 0 var(--space-4x);
	padding: 12px 0;
}
.city p {
	text-align: left;
	font-size: 16px;
}

.profile-avatar {
	width: 100%;
	height: 100%;
	background: #0000;
	font-size: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
}
.profile-avatar img {
	border-radius: 999999px;
	border: 1px solid var(--tg-second);
	width: 102px;
	height: 102px;
	overflow: hidden;
	background: var(--tg-bg);
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-avatar-img {
	border-radius: 999999px;
	border: 1px solid var(--tg-second);
	width: 102px;
	height: 102px;
	overflow: hidden;
	background: var(--tg-bg);
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.skeleton-profile-avatar img {
	border-radius: 999999px;
	border: 1px solid var(--tg-second);
	width: 102px;
	height: 102px;
	overflow: hidden;

	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(
			0.25turn,
			transparent,
			var(--tg-second),
			transparent
		),
		linear-gradient(var(--tg-bg), var(--tg-bg)),
		radial-gradient(38px circle at 19px 19px, var(--tg-bg) 50%, transparent 51%),
		linear-gradient(var(--tg-bg), var(--tg-bg));
	background-repeat: no-repeat;
	background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
	background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
	animation: loading 1.5s infinite;
}

@keyframes loading {
	to {
		background-position: 315px 0, 0 0, 0 190px, 50px 195px;
	}
}

.profile-avatar-logo {
	border-radius: 999999px;
	border: 1px solid var(--tg-second);
	width: 102px;
	height: 102px;
	overflow: hidden;
	background: var(--tg-bg);
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-avatar-logo svg {
	width: 70%;
	height: 70%;
}
.profile-name {
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 110%;
	letter-spacing: -0.02em;
	margin: 10px 0 5px;
}

.profile-data {
	background: var(--tg-bg);
	padding: 20px 15px;
	border-radius: 20px;
	margin-bottom: var(--space-4x);
}

.profile-data-title {
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: -0.02em;
	text-align: left;
	margin-left: var(--space-4x);
	color: var(--tg-color);
}

.profile-subscribe-title {
	display: flex;
	line-height: 100%;
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: -0.02em;
	text-align: left;
	margin-left: var(--space-4x);
	color: var(--tg-text);
	align-items: center;
}

.profile-subscribe-ui {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 12px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	margin: var(--space-4x);
}

.subscribe-text-ui {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	padding: 0;
}
.subscribe-key {
	flex: 0 0 75px;
	white-space: nowrap;
	text-align: left;
}
.subscribe-value {
	flex: 1 1;
	text-align: right;
}
.subscribe-add {
	flex: 0 0 83px;
	text-align: right;
}
.profile-subscribe-info {
	color: var(--tg-text);
	border-radius: 17px;
	font-size: 16px;
	letter-spacing: -0.01em;
	text-align: center;
	font-weight: 400;
	margin: 0 var(--space-4x);
	text-align: left;
}

.subscribe-bonus-text-plus {
	font-weight: 700;
	text-align: right;
	font-size: 16px;
	letter-spacing: -0.01em;
	line-height: 100%;
	background: linear-gradient(
		234deg,
		rgba(76, 60, 175, 1) 1%,
		rgba(76, 60, 175, 1) 9%,
		rgba(76, 60, 175, 1) 35%,
		rgba(76, 60, 175, 1) 60%,
		rgba(91, 75, 190, 1) 77%,
		rgba(106, 90, 205, 1) 91%,
		rgba(106, 90, 205, 1) 100%
	);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;
}

.subscribe-bonus-text-pro {
	font-weight: 700;
	text-align: right;
	font-size: 16px;
	letter-spacing: -0.01em;
	line-height: 100%;
	background: var(--tg-text);
	-webkit-text-fill-color: #0000;
	background-clip: text;
}
.subscribe-bonus-text {
	font-weight: 400;
	text-align: right;
	font-size: 16px;
	letter-spacing: -0.01em;
	line-height: 100%;
	color: var(--tg-text);
}
.profile-subscribe-title p {
	margin: 0; /* Сбросим отступы, если они были заданы по умолчанию */
}

.subscribe-status {
	display: flex;
	margin-top: 8px;
	margin-left: 5px; /* Подстройка отступа при необходимости */
	align-items: center;
	padding: 1px 5px;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	white-space: nowrap;
	background: radial-gradient(
		266.38% 477.63% at -77.59% 78.26%,
		#6a5acd,
		#5b4bbe,
		#4c3caf,
		#4c3caf,
		#7969dc
	);
	outline: unset;
	transition: transform 0.15s linear;
	animation: status-both 0.8s both;

	/* Добавлено свойство flex с нулевым значением */
	flex: 0;
}

.subscribe-status-pro {
	display: flex;
	margin-top: 8px;
	margin-left: 5px; /* Подстройка отступа при необходимости */
	align-items: center;
	padding: 1px 5px;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	white-space: nowrap;
	background: linear-gradient(45deg, #00c6fb, #005bea);
	outline: unset;
	transition: transform 0.15s linear;
	animation: status-both 0.8s both;

	/* Добавлено свойство flex с нулевым значением */
	flex: 0;
}
@keyframes status-both {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	50% {
		transform: scale(1.05);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
.subscription-container {
	margin-top: 8px;
	border: 2px solid var(--tg-text);
	border-radius: 15px;
	padding: 20px;
	position: relative;
}

.connect-plus,
.connect-pro {
	position: absolute;
	top: -15px;
	left: 20px;
	font-weight: 500;
	padding: 1px 5px;
	border-radius: 5px;
	color: var(--tg-bg);
	z-index: 1;
}

.connect-classic {
	position: absolute;
	top: -15px;
	left: 20px;
	font-weight: 500;
	padding: 1px 5px;
	border-radius: 5px;
	color: #000;
	z-index: 1;
}

.connect-plus::before,
.connect-pro::before,
.connect-classic::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	z-index: -1;
}

.connect-plus::before {
	background: radial-gradient(
		266.38% 477.63% at -77.59% 78.26%,
		#6a5acd,
		#5b4bbe,
		#4c3caf,
		#4c3caf,
		#7969dc
	);
}

.connect-classic::before {
	background: var(--tg-second);
}

.connect-pro::before {
	background: var(--tg-text);
}
.connect-price {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -0.01em;
}
.connect-free {
	text-align: left;
	font-size: 14px;
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -0.01em;
	color: var(--tg-hint);
	opacity: 0.8;
}
.connect-plus-price {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -0.01em;
	background: radial-gradient(
		266.38% 477.63% at -77.59% 78.26%,
		#6a5acd,
		#5b4bbe,
		#4c3caf,
		#4c3caf,
		#7969dc
	);
	-webkit-background-clip: text;
	color: transparent;
}
.connect-pro-price {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -0.01em;
	background: var(--tg-text);
	-webkit-background-clip: text;
	color: transparent;
}

.features-list {
	list-style-type: none;
	margin: var(--space-4x) 0 0;
	padding: 0;
	text-align: left;
}

.feature-item {
	text-align: left;
	font-size: 14px;
	font-weight: 300;
	line-height: 70%;
	letter-spacing: -0.01em;
	margin-bottom: 10px;
	color: var(--tg-text);
}

.subsribe-box {
	font-size: 16px;
	display: flex;
	margin-left: 8px;
	padding: 6px 8px;
	background-color: var(--tg-second);
	border-radius: 10px;
}
.subsribe-box svg {
	margin-left: 4px;
}

.profile-number-title span {
	margin-left: 4px;
	color: var(--tg-text);
}

.profile-data-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 110%;
	margin: 0 var(--space-4x) 0 var(--space-4x);
	text-align: left;
}

.profile-data-info h2 {
	color: var(--tg-text);
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: -0.01em;
	margin-bottom: 10px;
	margin-top: 30px;
}

.profile-data-info span {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: 0.4s ease-in-out;
	color: var(--tg-text);
}

.profile-number-ph {
	padding: 0;
	margin: 0;
}

.btn-profile-data {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 28px;
	gap: 10px;
	cursor: pointer;
	transition: all 0.15s linear;
	background-color: #0000;
	border-radius: 12px;
	border: 1px solid var(--tg-text);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: var(--tg-text);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
}
.btn-profile-data-info {
	margin-top: 20px;
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: var(--tg-text);
}

.btn-profile-data:active {
	background-color: var(--tg-text);
	transition: linear 0.3s;
}

.btn-profile-data:active {
	color: var(--tg-second);
	transition: linear 0.3s;
}

.profile-data form {
	display: flex;
	flex-direction: column;
}

.usercard_avatar_logo {
	border-radius: 999999px;
	border: 1px solid var(--tg-second);
	width: 42px;
	height: 42px;
	overflow: hidden;
	background: var(--tg-bg);
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-select-input {
	position: relative;
	box-shadow: var(--input-shaddow-bottom);
	height: 56px;
	border-bottom: 1px solid #f5f5f5;
}

.profile-select-label {
	position: absolute;
	top: 7px;
	font-size: 12px;
	line-height: 140%;
	color: var(--tg-theme-hint-color);
}

::placeholder {
	color: var(--tg-text);
}

.profile-select-info {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin: var(--space-4x);
}

.profile-search-value {
	width: 100%;
	font-weight: 400;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.01em;
	padding-top: 24px;
	padding-bottom: 7px;
	color: var(--tg-text);
	background: none;
	border: none;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 32px;
	text-overflow: ellipsis;
	text-align: left;
}

.profile-select-info-icon {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--tg-text);
	opacity: 0.6;
}

.delivery-type-input {
	display: flex;
	gap: 5px;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0;
	padding: 0 var(--space-4x);
	position: relative;
	z-index: 99;
	margin-bottom: 10px;
	scroll-snap-type: x mandatory;
	scroll-padding-left: var(--space-4x);
}

.button-delivery {
	position: relative;
	width: 135px;
	height: 100px;
	background: #0000;
	border: none;
	flex-shrink: 0;
	display: flex;
	scroll-snap-align: start;
	padding: 4px;
}

.delivery-type-item-content {
	border-radius: 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 18px;
	position: relative;
	display: flex;
	align-items: flex-end;
	padding: 11px 15px;
}

.delivery-type-title {
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	position: relative;
	z-index: 1;
	color: var(--tg-text);
	text-align: left;
}

.delivery-type-image {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	z-index: 0;
}

.bg-delivery-type {
	background: linear-gradient(-100deg, var(--tg-text), var(--tg-hint));
	opacity: 0.1;
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	z-index: 0;
}

.delivery-type-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button-delivery:focus {
	outline: none;
}

.button-delivery:active {
	letter-spacing: normal;
	transform: translateY(4px);
	box-shadow: none;
	transform: scale(0.84);
	transition: 0.08s;
}

.delivery-type-item-outline {
	position: absolute;
	inset: 0;
}

.popup-container {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 358px;
	padding: 9px 16px;
	transform: translateX(-50%);
	background-color: Var(--tg-second);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	border-radius: 14px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 500;
	text-align: left;
	display: flex;
	align-items: center; /* Центрирование по вертикали */
}

.popup-container p {
	margin: 0; /* Убираем внешние отступы у текста */
}

.popup-container svg {
	flex-shrink: 0; /* Запрещаем сжатие SVG */
	margin-right: 16px; /* Расстояние между SVG и текстом */
}

.popup-container.show {
	opacity: 1;
}

.form-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 9999;
	background: #0000; /* Полупрозрачный фон */
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px); /* Добавляем блюр к фону */
	transition: blur 0.3s ease-in-out;
}
.form-container.open {
	opacity: 1;
	height: 100%;
	animation: popupBlur 0.5s ease-in-out;
}

.form-container.close {
	animation: popupClose 0.5s ease-in-out;
}

.form-content {
	background: var(--tg-second);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70%;
	border-radius: 12px 12px 0 0;
	box-shadow: 0 -4px 32px 0 rgba(0, 0, 0, 0.04),
		inset 0 0 0 1px rgba(123, 123, 123, 0.24);
}

.form-content.open {
	animation: popupAnimation 0.5s ease-in-out;
}
.form-content.close {
	animation: popupAnimationClose 0.5s ease-in-out;
}

@keyframes popupAnimation {
	0% {
		background: var(--tg-second);
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 0%;
		border-radius: 12px 12px 0 0;
		box-shadow: 0 -4px 32px 0 rgba(0, 0, 0, 0.04),
			inset 0 0 0 1px rgba(123, 123, 123, 0.24);
		transition: height 0.3s ease-in-out;
	}
	80% {
		background: var(--tg-second);
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70%;
		border-radius: 12px 12px 0 0;
		box-shadow: 0 -4px 32px 0 rgba(0, 0, 0, 0.04),
			inset 0 0 0 1px rgba(123, 123, 123, 0.24);
		transition: height 0.3s ease-in-out;
	}
}
@keyframes popupAnimationClose {
	0% {
		background: var(--tg-second);
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70%;
		border-radius: 12px 12px 0 0;
		box-shadow: 0 -4px 32px 0 rgba(0, 0, 0, 0.04),
			inset 0 0 0 1px rgba(123, 123, 123, 0.24);
		transition: height 0.3s ease-in-out;
	}
	80% {
		background: var(--tg-second);
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 0%;
		border-radius: 12px 12px 0 0;
		box-shadow: 0 -4px 32px 0 rgba(0, 0, 0, 0.04),
			inset 0 0 0 1px rgba(123, 123, 123, 0.24);
		transition: height 0.3s ease-in-out;
	}
}

@keyframes popupClose {
	0% {
		backdrop-filter: blur(5px);
	}
	100% {
		backdrop-filter: blur(0px);
		opacity: 0;
	}
}

@keyframes popupBlur {
	0% {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #0000; /* Полупрозрачный фон */
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(0px); /* Добавляем блюр к фону */
		transition: opacity 0.3s ease-in-out;
	}
	80% {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: #0000; /* Полупрозрачный фон */
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(5px); /* Добавляем блюр к фону */
		transition: opacity 0.3s ease-in-out;
	}
}

.form-btn {
	background: none;
	border: none;
	inset-inline-end: 0;
	margin: 0;
	padding: 20px 16px;
	position: absolute;
	top: 0;
}

.form-data-info {
	margin-top: 20px;
	padding: 20px 15px;
}
.form-data-info span {
	padding-inline: 28px;
}

.subscription-banner-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	gap: 4px;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	/* margin: 0 var(--space-4x-negative); */
	padding: var(--space-4x);
	position: relative;
	z-index: 5;
	scroll-snap-type: x mandatory;
	/* scroll-padding-left: var(--space-4x); */
	width: 100vw;
	height: 100vh;
}
.subscription-banner-container::-webkit-scrollbar {
	display: none;
}
.subscription-banner-box {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 80vh;
	padding: 4px;
	outline: none;
	text-align: unset;
	background: #0000;
	border: none;
	scroll-snap-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform 0.15s linear;
}

.subscription-banner {
	position: absolute;
	inset: 0;
}

.subscription-banner-bg {
	background: linear-gradient(180deg, #7969dc, #4c3caf);
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	z-index: 0;
	border-radius: 16px;
}
