
:root {
    --space-4x: 16px;
    --space-6x: 0%;
    --space-8x: 32px;
    --button-text-color: var(--tg-theme-button-text-color, #fff);
    --color: var(--tg-theme-button-color, #393939);
    --button-color: var(--tg-theme-button-color, #007cff);
    --accent: #007cff;
    --tg-bg: var(--tg-theme-bg-color, #fff);
    --tg-second: var(--tg-theme-secondary-bg-color, #f4f4f5);
    --tg-text: var(--tg-theme-text-color, #000);
    --tg-button-text: var(--tg-theme-button-text-color, #fff);
    --mainbutton: var(--tg-theme-button-text-color, rgba(135, 116, 225));
    --font-family: "SF Pro Display",-apple-system,BlinkMacSystemFont,Roboto,sans-serif;
    --tg-hint: var(--tg-theme-hint-color, #aaaaaa);
  }

  * {
    user-select: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }

body {
    user-select: none;
    color: var(--tg-text);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: var(--tg-second);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  a{
    text-decoration: none;
  }