
:root {
   
  }

  * {
    user-select: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }

body {
    user-select: none;
    color: var(--tg-text);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: var(--tg-second);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  a{
    text-decoration: none;
  }