
.full-item {
  width: 100%;
  border-radius: 0 0 18px 18px;
  position: relative;
}

.full-item-price {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;
  text-align: left;
  padding-left: 4%;
  margin: 0;
  
  
}

hr{
  border: none;
  border-top: 1px solid var(--tg-second);
  margin:  var(--space-4x);
}

.full-item-size {
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.05em;
  padding-left: 4%;
  font-weight: 900;
  margin: 0;
  color: var(--tg-theme-link-color);
}

.bg-full-item-name{
  background-color: #fff;
  padding-bottom: var(--space-8x);
  z-index: 1;
  position: relative;
}
.full-item-name {
  color: #000;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;
  text-align: left;
  margin: 0 var(--space-4x);
}

.full-item-name span{
  margin-top: var(--space-4x);
  
  
  
}
.full-item li {
  list-style-type: none;
}
.full-item ul {
  padding-left: 0;
}

.full-item .add-item {
  position: absolute;
  width: 95%;
  height: 30px;
  margin-left: 2.5%;
  background: #393939;
  border-radius: 13px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.full-item .hr-line {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px solid rgb(224, 224, 224);
}

.public-oferta{
  margin-top: 10px;
}  

.public-ofert-text{
  text-align: left;
  padding-top: 5px;
  line-height: 140%;
  letter-spacing: -0.01em;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  margin: 0 var(--space-4x) var(--space-4x) var(--space-4x);
}

.public-oferta-link{
  color: var(--button-color);
  cursor: pointer;

}

.full-item-confirm-price {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;
  text-align: left;
  padding-left: 4%;
  margin: 0;
  
  
}

.confirm-item{
  width: 100%;
  background: var(--tg-bg);
  border-radius: 0 0 18px 18px;
  padding-bottom: 4px;
  position: relative;
}

/*.confirm-item img{
   background: #ffffff;
  width: 70%;
  border-radius: 15px;
}
*/
.confirm-item-name{
  color: #000;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;
  text-align: left;
  margin-left: var(--space-4x)
  }

  .confirm-item-size{
    color: var(--accent);
    
  }

  .confirm-item-price{
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 110%;
    transition: all .3s linear;
    color: var(--tg-text);
    text-align: left;
    margin-left: var(--space-4x)
  }

  .help-ful{
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    background-color: var(--tg-bg);
    border-radius: 20px;
    margin-top: 8px;
  }

  .help-title{
    color: var(--tg-text);
    font-size: 18px;
    font-weight: 800;
    line-height: 130%;
    text-align: left;
    margin-left: var(--space-4x);
    margin-top: 12px;
  }

  .help-stories{
   margin-left: 0;
   padding: 0; 
  }

  .images-slider-images::-webkit-scrollbar {
    display: none;
  }
  .images-slider-wrapper{
    position: relative;
    background: #fff;
    z-index: 9999;
  }

  .images-slider-images{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .images-slider-image-item{
    padding: 0 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  .image-item-wrapper{
    
    width: calc(100vw - 20px);
    display: block;
    
  }
  
  .image-item-wrapper img{
    margin: 4% 0 5% 0;
    object-fit: cover;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    width: 100%;
  }

  .item-order-info{
    color: var(--tg-text);
    position: relative;
    z-index: 2;
    background: var(--tg-bg);
    border-radius: 20px 20px 20px 20px;
    padding-top: var(--space-4x);
    margin-top: -28px;
    padding-bottom: 18px;
  }
  .item-order-info p{
    text-align: left;
  }

  .item-order{
    display: flex;
    flex-direction: column;
  }
  .product-offer-id{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    font-style: normal;
    text-align: left;
    margin-left: var(--space-4x);
    color: var(--tg-hint);
  }
  .product-offer-status{
    text-align: left;
    margin-left: var(--space-4x);
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;
  }
  .product-offer-status p{
    text-align: left;
  }

  .status-selection-steps-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 var(--space-4x) var(--space-4x);
    align-items: center;
  }

  .status-selection-step{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .status-selection-step-inner{
    --border-width: 2px;
    --border-width-negative: -2px;
    --step-size: calc(25vw - (18.75px + 7.5px));
    --step-max-size: 71px;
    --border: 1px solid var(--tg-text);
    --color: var(--tg-text);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--step-size) - var(--border-width)*2);
    height: calc(var(--step-size) - var(--border-width)*2);
    max-width: var(--step-max-size);
    max-height: var(--step-max-size);
    border: var(--border);
    color: var(--color);
    border-radius: 9999px;
    position: relative;
  }

  .status-selection-step-inner svg{
    width: 58%;
    height: 58%;
    max-width: 40px;
    max-height: 40px;
  }

  .status-selection-line{
    width: 5vw;
    height: 1px;
    background: var(--tg-text);
    position: relative;
    z-index: -2;
  }

  .order-price-info{
    color: var(--tg-text);
    position: relative;
    z-index: 2;
    background: var(--tg-bg);
    border-radius: 20px 20px 20px 20px;
    padding-top: var(--space-4x);
    margin-top: 8px;
  }

  .order-price{
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 110%;
    text-align: left;
    padding-left: 4%;
    margin: var(--space-4x) 0 var(--space-4x);
  }

  .order-card{
    margin-top: 0;
  }

  .order-card-box{
    display: flex;
  }

  .order-card-title{
    color: var(--tg-text);
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    
  }

  .order-card-icon{
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .order-card-icon svg{
    stroke-width: 2.2px;
}
  
.order-card-text{
  text-align: left;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
 
}

.profile-data{
  margin-top: 8px;
  background: var(--tg-bg);
  border-radius: 20px;
  margin-bottom: var(--space-4x);
  }

  .item-toggle-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: var(--space-4x);
  }

  .item-toggle-box-title{
    font-weight: 800;
    font-size: 18px;
    line-height: 130%;
    background: radial-gradient( 266.38% 477.63% at -77.59% 78.26%, #6a5acd, #5b4bbe, #4c3caf, #4c3caf, #7969dc );
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
    text-fill-color: #0000;
    text-align: left;
  }

  .item-switcher-box{
    background: var(--tg-second);
    border-radius: 15px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
  }

  .item-switcher-active{
    color: var(--tg-text);
    transition: all .3s linear;
    width: 50%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: all .3s linear;
    position: relative;
    z-index: 1;
  }
  

  .item-switcher-point{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5px;
  }

  .item-switcher-rouble{
    background: radial-gradient( 266.38% 477.63% at -77.59% 78.26%, #6a5acd, #5b4bbe, #4c3caf, #4c3caf, #7969dc );
    transition: all .3s linear;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    width: 18px;
    height: 18px;
    background: #979797;
    transition: all .3s linear;
  }

  

  .item-switcher-num{
    background: radial-gradient( 266.38% 477.63% at -77.59% 78.26%, #6a5acd, #5b4bbe, #4c3caf, #4c3caf, #7969dc );
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
    text-fill-color: #0000;
    transition: all .3s linear;
    
  }

  .item-switcher-box::after{
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    
    z-index: 0;
    box-shadow: 0 2px 13px #00000021;
    background: var(--tg-bg);
    border-radius: 14px;
    transition: all .2s linear;

  }

  .item-switcher-box.credited::after {
    left: 50%;
  margin-left: -2px; 
  }

  .item-switcher-rouble.debited {
    background: #9c1a1a;
  }

  .item-switcher-active.active{
    color: var(--tg-text);
    pointer-events: none;
  }

  .item-switcher-active.passive{
    color: var(--tg-text);
    opacity: .5;
    pointer-events: none;
  }

  .item-switcher-rouble.active{
    background: radial-gradient( 266.38% 477.63% at -77.59% 78.26%, #6a5acd, #5b4bbe, #4c3caf, #4c3caf, #7969dc );
    transition: all .3s linear;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    width: 18px;
    height: 18px;
    transition: all .3s linear;
  }

  .rouble-icon{
    background: radial-gradient(69.01% 448.79% at .64% 71.74%,#ef4e7b 0,#a166ab 200%);
    color: #ffffff;
    border-radius: 50%;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    white-space: nowrap; /* Предотвращение переноса текста */
    transition: all .3s linear;
    height: 18px;
    width: 18px; /* Фиксированная ширина */
    display: inline-block; /* Добавлено для корректного расположения */
  }

  .item-switcher-rouble.passive{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    width: 18px;
    height: 18px;
    background: #979797;
    transition: all .3s linear;
  }
  .warning-bonus-status-plus{
    display: inline;
    align-items: center;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
    color: #fff;
	background: radial-gradient( 266.38% 477.63% at -77.59% 78.26%, #6a5acd, #5b4bbe, #4c3caf, #4c3caf, #7969dc );
}

  .warning-bonus-selection{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    border-radius: 20px;
    background: var(--tg-second);
    margin: var(--space-4x)
  }

  .warning-bonus-selection-title{
    text-align: left;
  }

  .warning-bonus-box{
    margin-left: var(--space-4x);
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .warning-bonus-selection-box{
    margin: 0;
    width: 100%;
  }

  .warning-bonus-little-title{
    margin: 0;
    font-size: 10px;
    color: var(--tg-hint);
  }
  .warning-bonus-selection-box p{
    text-align: left;
    margin: 0;
  }

  .main-button{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--tg-second);
    padding: 8px 16px;
    box-shadow: 0 -0.33px 0 #00000040;
    z-index: 99999;
}
.main-button button{
  height: 50px;
    border-radius: 12px;
    background: var(--main-button);
    color: var(--button-text-color);
    font-size: 17px;
    font-family: system,-apple-system,\.SFNSText-Regular,San Francisco,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,sans-serif;
    font-weight: 600;
    width: 100%;
    border: unset;
    outline: unset;
}

.skeleton{
  border-radius: 22px;
  animation: skeletonLoading 5s linear infinite; 
}


.skeleton-full-item-price {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 110%;
  text-align: left;
  padding-left: 4%;
  margin: 0;
  width: 30%;
  
}

hr{
  border: none;
  border-top: 1px solid var(--tg-hint);
  opacity: .8;
  margin:  var(--space-4x);
}

.full-item-size {
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.05em;
  padding-left: 4%;
  font-weight: 900;
  margin: 0;
  color: var(--tg-theme-link-color);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;           
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--tg-text);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--tg-text) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}