
.size_box {
  user-select: none;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 4px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 var(--space-4x-negative);
  padding: 0 var(--space-4x);
  position: relative;
  z-index: 5;
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--space-4x);
}

.size_box::-webkit-scrollbar {
  display: none;
}

.size_button {
    display: flex;
    flex-direction: column;
    min-width: 60px;
    opacity: 0.6;
    background: var(--tg-bg);
    border-radius: 10px;
    outline: 0;
    border: 1px solid var(--tg-text);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: var(--tg-text);
    flex-shrink: 0;
}

.size_button.active{
    border-color: var(--button-color);
    opacity: 1;
}


.size_outline {
  position: absolute;
  inset: 0;
}

.size-item {
  position: absolute;
  width: 62px;
  height: 62px;
}

.Story-size-content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 60px;
  color: #000000;
  padding: 8px;
}

.Story-size-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  position: relative;
  text-align: center;
}

.size_button:focus {
  outline: none;
}

.size_button:active {
  letter-spacing: normal;
  transform: translateY(4px);
  box-shadow: none;
  transform: scale(0.94);
  transition: transform 0.08s linear;
}

.size p {
    font-size: 18px;
    margin-left: var(--space-4x);
    font-weight: 600;
    line-height: 130%;
  }
  
  .size {
    display: flex;
    justify-content: space-between;
    margin-right: var(--space-4x);
    color: var(--tg-text);
  }
  
  .size a {
    font-size: 16px;
    margin-left: auto;
    text-decoration: none;
    color: var(--accent);
    cursor: pointer;
  }

  
  .box-sized {
    display: flex;
    justify-content: space-between;
  }
  
  .mysized {
   height: 40px;
  line-height: 40px;
  color: #fff;
  background: #393939;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  }
  
  .sized {
    
    color: #000;
    border: solid 1px #d6d6d6;
    background: #e9e9e9;
  }

  .size-nubmer{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: var(--tg-text);
  }

  .size-price{
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: var(--tg-text);
    opacity: 0.7;
  }